fastapi==0.110.0
pydantic[email]
pydantic-settings
uvicorn[standard]
gunicorn
foss42 @ git+https://github.com/foss42/foss42-core.git
python-multipart
puremagic
python-jose[cryptography]
python-dotenv
